.hide {
  display: none;
}
.tabelGrid_telco .css-17jjc08-MuiDataGrid-footerContainer {
  min-height: 0px !important;
}
.main_row_cust_form_search {
  font-size: 0.9rem;
}
.main_row_cust_form_search .form-control {
  font-size: 0.9rem;
}
.main_row_cust_form_search .form-select {
  font-size: 0.9rem !important;
}
.main_table_div h5 {
  border: 1px solid black;
  margin-bottom: 0px !important;
}

.main_table_div {
  font-size: 0.8rem !important;
  margin-top: 5px;
  width: 30%;
}
/* .main_table_div table {
  width: 100%;
} */
.main_table_div table tr {
  border: 0.5px solid black;
}
.main_table_div table tr td {
  border: none;

  text-align: start;
  padding-left: 5px;
}

.main_table_div table tr th {
  border-right: 0.5px solid black;
  font-weight: bold;
  padding-left: 10px;
  width: auto;
}

.main_row_bank_search {
  font-size: 0.9rem;
}
.main_header_table_div {
  /* border: solid black !important; */
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: white;
  padding-left: 20px;
  padding-top: 10px;
  border-radius: 5px;

  /* justify-content: center; */
}
.main_header_table_div table {
  font-size: 0.7rem !important;
}
.tables_above_div {
  border: none;
  margin-bottom: 0px;
  /* margin-left: 0px !important; */
  background-color: white;
  width: 100%;
}
.tables_above_div tr {
  /* border: solid 1px black; */
  border-right: none;
}
.tables_above_div th {
  border: solid 1px black;
  padding-left: 10px;
  padding-right: 10px;
}

.tables_above_div tr td {
  border: solid 0.5px black;
  border-left: none;
  padding-left: 10px;
  padding-right: 10px;
}
